.App {
  text-align: left;
  padding-left: 30px;
}

nav li {
  list-style-type: none;
}

nav ul {
  margin-left: 0px;
  padding-left: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



